<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.DBPersonaConnectionString"
            connectionString="Data Source=DBPersona.mssql.somee.com;Initial Catalog=DBPersona;Persist Security Info=True;User ID=EduardoRivas_SQLLogin_1;Password=f8tc2ie7xs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
