<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
            connectionString="data source=ASPIRE-A515-51G\Eduar;&#xA;database=Persona;&#xA;persist security info=True;"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString1"
            connectionString="Data Source=ASPIRE-A515-51G;Initial Catalog=Persona;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.DBPersonaConnectionString"
            connectionString="Data Source=DBPersona.mssql.somee.com;Initial Catalog=DBPersona;Persist Security Info=True;User ID=EduardoRivas_SQLLogin_1;Password=f8tc2ie7xs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
